
<!-- navbar  -->

<h1>Co chcesz ćwiczyć?</h1>
<h3>Wybierz czynność</h3>
<div class="container">
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
     <h2>Fikołek</h2>
    </div>
    <div class="flip-card-back">
      <img src="..//assets//exer//tumble.png  " alt="tumble" title="tumble" >
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
     <h2>Salto</h2>
    </div>
    <div class="flip-card-back">
      <img src="..//assets//exer//somersault.png  " alt="somersault" title="somersault" >
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
     <h2>Biegnij, biegnij!</h2>
    </div>
    <div class="flip-card-back">
      <img src="..//assets//exer//runRun.png  " alt="Biegnij, biegnij!" title="Biegnij, biegnij!" >
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
     <h2>Pajacyk</h2>
    </div>
    <div class="flip-card-back">
      <img src="..//assets//exer//jumpingJack.png" alt="jumpingJack" title="Pajacyk" >
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
     <h2>Skacz!</h2>
    </div>
    <div class="flip-card-back">
      <img src="..//assets//exer//hopHop.png" alt="hop, hop" title="poskacz" >
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
     <h2>Ruszaj rękami!</h2>
    </div>
    <div class="flip-card-back">
      <img src="..//assets//exer//moveHands.png" alt="move hands" title="ruszaj rękami" >
    </div>
  </div>
</div>
</div>
